body {
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo img {
  width: 100px; 
  margin-top: 5px;
  margin-bottom: 5px;

}

img {
  width: 100%;
}

#search-box {
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#search-button {
  padding: 8px 20px;
  background-color: #6f6f6f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #565555;
  transition: 0.15s;
}

#serch-button:active{
  background-color: black;
}

#checkout-button {
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout-button:hover {
  background-color: #555;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


main {
  flex: 0 0 100%;
  background-image: url(img/backgroundLambor1.png);
  background-repeat: no-repeat;
  background-size: cover;

}

#content {
  width: 80%;
  padding: 20px;
  color: whitesmoke;
  height: 100%;
  position: sticky;
  bottom: 0;

}
#h1-p{
  margin-left: 100px;
}
#news-p  {
  font-size: 5rem;
  margin-left: 100px;
  font-weight: bold;
  line-height: 1.08;

}
#title-news{
  font-size: x-large;
  margin-left: 100px;
  font-weight: bold;
}
.date{
  margin-left: 100px;
  font-weight: normal;
}
.content-main{
  display: flex;
  margin-bottom: 40px;
  
}.content-main2{
  display: flex;
  
}

.img-content1{
  margin-left: 100px;
  width: 700px;
  height: auto;
  margin-right: 50px;
  margin-top: 18px;
  
}
#content-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
}
#content-button:hover{
  background-color: white;
  color:black;
  cursor: pointer;
  transition: 0.20s;
}
#content-button:active{
  background-color: #555;
}
.text-content{
  font-size: x-large;
  font-weight: bold;
}
#bottom-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  height: 200px;
}
.button-end{
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
}
.button-end:hover{
  background-color: white;
  color:black;
  cursor: pointer;
  transition: 0.20s;
}
.button-end:active{
  background-color: #555;
}
aside {
  position: fixed;
  top: 264px;
  right: 0;
  background-color: lightgray;
  padding: 20px;
  box-sizing: border-box;

}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;

  
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
}

main {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  main {
      flex-direction: row;
  }

  #content {
      width: 80%;
      height: 100%;
  }

  aside {
      width: 20%;
  }
}